body{ 
		 
    text-align:center; 
    } 
    h1{ 
    color: #32a852; 
    } 

    .change { 
        cursor: pointer; 
        border: 1px solid rgb(255, 255, 255); 
        border-radius: 40%; 
        width: 20px; 
        text-align: center; 
        padding: 5px; 
        margin-left: 8px; 
    } 
    .dark{ 
        background-color: #222; 
  color: #e6e6e6;
   
    } 