<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/responsive.css">
    <title>Header</title>
</head>
<body onkeypress="return disableCtrlKeyCombination(event);" onkeydown="return disableCtrlKeyCombination(event);">
  <!--For navigation bar-->
  <nav class="navbar background navHeight-res">
    <!--For navigation list-->
    <ul class="left-nav visibileClass-res">
      <!--For company logo-->
      <div class="logo">
        <img src="../Images/logo.png" alt="KAUSTUBH SHARMA's Logo">
      </div>
      <li> <a href="../">Home </a></li>
      <li> <a href="../blog">Blog</a></li>
      <li> <a href="../quiz">Quiz</a></li>
      <li><a href="https://www.youtube.com/c/KAUSTUBHSHARMA/videos">Videos</a></li>
      <li> <a href="../about">About </a></li>
      <li> <a href="../contact">Contact </a></li>
    </ul>
    <div class="right-nav visibileClass-res">
      <!-- <input type="text" name="search" id="search">
      <button class="btn btn-sm">Search</button>  -->
    </div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
  
    <script src="../JS/responsive.js"></script>
    <script src="../JS/type.js"></script>
</body>
</html>